:root{
    --primary-color: #6366f1;
    --primary-hover: #4f46e5;
    --bg-color: #f8fafc;
    --text-color: #1e293b;
    --white: #ffffff;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px;
    --radius: 8px;
    --font-main: "Montserrat", sans-serif;


    --primary-color-dark: #5fd2ff;
    --primary-hover-dark: #a0e4ff;
    --bg-color-dark:#000;
    --text-color-dark:#000;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.dark{
    background-color: var(--bg-color-dark);
}

.project__header h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}


.dark .project__header h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--primary-color-dark);
}

.dark .button{
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark);
}

.dark .button:hover{
    background-color: var(--primary-hover-dark);
}

.button{
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 12px 24px;
    margin: 10px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: var(--radius);
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

.button:hover{
    background-color: var(--primary-hover);
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0 / 0.1)
}


.btn-navegacao{
    background-color: yellow;
    color: black;
    transition: 0.3s;
}

.btn-navegacao:hover{
    background-color: rgb(228, 228, 7);
}

.themeToggle{
    position: absolute;
    left: auto;
    right:auto;
    top: 60%;
}