:root {
    --primary-color: #6366f1;
    --primary-hover: #4f46e5;
    --bg-color: #f8fafc;
    --text-color: #1e293b;
    --white: #ffffff;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px;
    --radius: 8px;
    --font-main: "Montserrat", sans-serif;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
